/*******
Core vars
*******/
/***
Mixins
***/
/* line 3, ../../sass/partials/forms.scss */
.preview-menu {
  background: #ccc;
  border: 1px solid #dcdcdc;
  display: inline-block;
  float: right;
  height: 700px;
  width: 33%;
  min-width: 300px;
  margin: 50px;
  padding: 100px 0 0 0;
}

/* line 15, ../../sass/partials/forms.scss */
.preview-menu-step-section {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0 25px;
}

/* line 21, ../../sass/partials/forms.scss */
.preview-menu-step {
  font-size: 20px;
  height: 30px;
  width: 100%;
}

/* line 26, ../../sass/partials/forms.scss */
.menu-step-title {
  background-color: #3f3f3f;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

/* line 42, ../../sass/partials/forms.scss */
.align-right {
  text-align: right;
}

/* line 46, ../../sass/partials/forms.scss */
.menu-input {
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 15px;
  height: 20px;
  width: 200px;
  margin: 10px 0;
  padding: 5px;
}

/* line 56, ../../sass/partials/forms.scss */
.menu-file-input {
  background: #333;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 200px;
  margin: 10px 0 10px 20%;
  padding: 10px 15px;
  text-align: right;
}

/* line 68, ../../sass/partials/forms.scss */
.submit-button {
  background-color: #009900;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 100;
  margin: 25px auto 0 auto;
  padding: 12px 25px;
  position: relative;
  text-align: center;
}

/* line 83, ../../sass/partials/forms.scss */
.submit-button:hover {
  background-color: rgba(0, 153, 0, 0.8);
}
