{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pakible Custom Package Preview Demo</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,700' rel='stylesheet' type='text/css'>

{#	<script src="{% static 'js/vendor/modernizr.custom.94224.js' %}"></script>#}
</head>
<body>

    <nav>
        <section class="nav-wrapper">
            <a class="nav-logo-wrapper" href="https://pakible.com"><img class="logo" src="{% static 'img/logo.png' %}" alt="Pakible" /></a>
            <div class="nav-link-wrapper">
                   <a class="nav-link" href="http://blog.pakible.com/intro/">ABOUT</a>
                   <a class="nav-link" href="http://blog.pakible.com">BLOG</a>
                   <a class="nav-link" href="https://pakible.com/faq">PROFILE</a>
            </div>
        </section>
    </nav>

    <canvas id="c" style="border: 1px solid #dcdcdc; border-radius: 3px; margin: 140px 50px 50px 50px; position: absolute;"></canvas>
    <img src="{% static 'img/blank-launchbox.png' %}" id="base-image" style="display: none;" />
    <img src="{% static 'img/blank-launchbox-inverse.png' %}" id="base-image-inverse" style="display: none;" />

    <menu style="background: #ccc; border: 1px solid #dcdcdc; display: inline-block; float: right; height: 1000px;width: 33%; min-width: 300px; margin: 50px; padding: 110px 0 0 0;">
        <section>
            <caption style="height: 30px; width: 100%;">1</caption>
        </section>

        <section>
            <caption style="height: 30px; width: 100%;">2</caption>
            <input accept="image/*" id="logo" name="logo" type="file" onchange="processURL(event)" />
        </section>

        <section>
            <caption style="height: 30px; width: 100%;">3</caption>
        </section>
    </menu>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{#    <script src="{% static 'jquery/dist/jquery.js' %}"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.13/fabric.min.js"></script>#}
    <script src="{% static 'fabric/dist/fabric.min.js' %}"></script>

    <script>
        $(function(){
            var canvas;
            var canvasLength;
            var logoSize;

            setCanvasSizes();
            initializePreview();



        });

        function setCanvasSizes(){
            if ((window.innerHeight-100) < window.innerWidth) {
                // take the smaller window dimension
                canvasLength = (window.innerHeight-100) * .85;
            } else {
                canvasLength = (window.innerWidth-100) * .85;
            }
            // create a wrapper around native canvas element with id="c"
            canvas = new fabric.Canvas('c', {
                backgroundColor: 'FEFEFE',
                height: canvasLength,
                width: canvasLength
            });

            // Set global sizes
            logoSize = canvasLength * .1;
        }

        function initializePreview(){
            var baseMaskEl = document.getElementById('base-image-inverse');
            var baseMaskInstance = new fabric.Image(baseMaskEl, {
                height: canvasLength,
                width: canvasLength,
                selectable: false
            });

            

            canvas.add(baseMaskInstance);
        }

        function addLogos(){

        }

        function processURL(input) {
            if(input.target.files && input.target.files[0]) {
                var url = window.URL.createObjectURL(input.target.files[0]);

                fabric.Image.fromURL(url, function(img) {
                    img.set({
                        height: logoSize,
                        width: logoSize
                    });
                    canvas.add(img);
                });
            }
        }
    </script>
</body>
</html>