{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pakible Custom Package Preview Demo</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,700' rel='stylesheet' type='text/css'>

{#	<script src="{% static 'js/vendor/modernizr.custom.94224.js' %}"></script>#}
</head>
<body>

    <nav>
        <section class="nav-wrapper">
            <a class="nav-logo-wrapper" href="https://pakible.com"><img class="logo" src="{% static 'img/logo.png' %}" alt="Pakible" /></a>
            <div class="nav-link-wrapper">
                   <a class="nav-link" href="http://blog.pakible.com/intro/">ABOUT</a>
                   <a class="nav-link" href="http://blog.pakible.com">BLOG</a>
                   <a class="nav-link" href="https://pakible.com/faq">PROFILE</a>
            </div>
        </section>
    </nav>

    <canvas id="c" class="fCanvas"></canvas>
    <img src="{% static 'img/blank-launchbox.png' %}" id="base-image" class="hidden" />
    <img src="{% static 'img/pakible-logo.png' %}" id="default-logo" class="hidden" />
    <img src="{% static 'img/blank-launchbox-inverse.png' %}" id="base-image-inverse" class="hidden" />

    <menu class="preview-menu">
        <section class="preview-menu-step-section">

            <label class="preview-menu-step">
                <div class="menu-step-title">1</div>
                Info
            </label>
            <div class="align-right">
                <label>Brand Name</label>
                <input class="menu-input" type="text" name="brand" placeholder="Brand Name" />
            </div>
            <div class="align-right">
                <label>Website</label>
                <input class="menu-input" type="text" name="website" placeholder="www.yoursite.com" />
            </div>
            <div class="align-right">
                <label>Tagline</label>
                <input class="menu-input" type="text" name="tagline" placeholder="Tagline, slogan, or motto" />
            </div>
        </section>

        <section class="preview-menu-step-section">
            <label>
                <div class="menu-step-title">2</div>
                Logo
            </label>
            <input class="menu-file-input" id="logo" name="logo" type="file"  />
        </section>

        <section class="preview-menu-step-section">
            <label>
                <div class="menu-step-title">3</div>
                Colors
            </label><br />
            <div class="center-block">
            <div  class="center-inline-block">
                <p>Box Color</p>
                <div class="colorPicker1" id="colorPicker">
                    <a class="color"><div class="colorInner"></div></a>
                    <div class="track"></div>
                    <ul class="dropdown"><li></li></ul>
                    <input type="hidden" class="colorInput"/>
                </div>
            </div>
                <span class="med-spacing"></span>
            <div  class="center-inline-block">
                <p>Text Color</p>
                <div class="colorPicker2" id="colorPicker">
                    <a class="color"><div class="colorInner"></div></a>
                    <div class="track"></div>
                    <ul class="dropdown"><li></li></ul>
                    <input type="hidden" class="colorInput"/>
                </div>
            </div>
            </div>
        </section>

        <button class="submit-button"><i class="fa fa-file-text"></i>&nbsp;&nbsp;Generate PDF</button>
    </menu>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{#    <script src="{% static 'jquery/dist/jquery.js' %}"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.13/fabric.min.js"></script>#}
    <script src="{% static 'fabric/dist/fabric.min.js' %}"></script>
    <script src="{% static 'tinycolorpicker/lib/jquery.tinycolorpicker.js' %}"></script>

    <script>
        $(window).ready(function() {
            var canvas;
            var canvasLength;
            var largeLogo;
            var smallLogo;
            var largeLogoSize;
            var smallLogoSize;
            var largeLogoLocation;
            var smallLogoLocation;
            var taglineLocation;
            var taglineMaxWidth;
            var webLeftLoc;
            var webRightLoc;
            var sigLoc;
            var tagline;
            var leftWebsite;
            var rightWebsite;
            var sig;
            var $boxColorEl = $('.colorPicker1');
            var $textColorEl = $('.colorPicker2');
            setCanvasSizes();
            initializePreview();

            $boxColorEl.tinycolorpicker();
            $textColorEl.tinycolorpicker();
            var boxColor = $boxColorEl.data("plugin_tinycolorpicker");
            var textColor = $textColorEl.data("plugin_tinycolorpicker");

            $boxColorEl.bind("change", function(){
                var hex = boxColor.colorHex;
                hex = hex.replace(/^#/, '');
                canvas.setBackgroundColor(hex);
                canvas.renderAll();
            });
            $textColorEl.bind("change", function(){
                var hex = textColor.colorHex;
                hex = hex.replace(/^#/, '');
                rgb = new fabric.Color(hex).toRgb();
                tagline.fill = rgb;
                leftWebsite.fill = rgb;
                rightWebsite.fill = rgb;

                canvas.renderAll();
            });

            $("#logo").bind("change", processURL(this));


            function setCanvasSizes() {
                if ((window.innerHeight - 100) < window.innerWidth) {
                    // take the smaller window dimension
                    canvasLength = (window.innerHeight - 100) * .85;
                } else {
                    canvasLength = (window.innerWidth - 100) * .85;
                }
                // create a wrapper around native canvas element with id="c"
                canvas = new fabric.Canvas('c', {
                    backgroundColor: 'FEFEFE',
                    height: canvasLength,
                    width: canvasLength,
                    renderOnAddRemove: false,
                    stateful: false,
                    crossOrigin: 'anonymous'
                });

                // Set global sizes
                largeLogoSize = canvasLength * .1;
                smallLogoSize = canvasLength * .05;
                // [height, width]
                largeLogoLocation = {'top': canvasLength/3, 'left': (canvasLength/2)+(largeLogoSize/2)};
                smallLogoLocation = {'top': canvasLength *.105, 'left': canvasLength *.65};

                taglineMaxWidth = canvasLength/3;
                taglineLocation = {'top': canvasLength *.9, 'left': (canvasLength/2)+(taglineMaxWidth *.46)};

                webLeftLoc = {'top': canvasLength *.82, 'left': canvasLength *.245};
                webRightLoc = {'top': canvasLength *.57, 'left': canvasLength *.755};

                sigLoc = {'top': canvasLength *.79, 'left': canvasLength *.34};
            }

            function initializePreview() {
                var baseMaskEl = document.getElementById('base-image-inverse');
                var baseMaskInstance = new fabric.Image(baseMaskEl, {
                    height: canvasLength,
                    width: canvasLength,
                    selectable: false
                });

                var defaultLogoEl = document.getElementById('default-logo');
                largeLogo = new fabric.Image(defaultLogoEl, {
                    height: largeLogoSize,
                    width: largeLogoSize,
                    angle: 180,
                    top: largeLogoLocation['top'],
                    left: largeLogoLocation['left']
                });

                smallLogo = new fabric.Image(defaultLogoEl, {
                    height: smallLogoSize,
                    width: smallLogoSize,
                    angle: 180,
                    top: smallLogoLocation['top'],
                    left: smallLogoLocation['left']
                });

{#                websiteLeft = new fabric.Text()#}

                canvas.add(baseMaskInstance);
                canvas.add(largeLogo);
                canvas.add(smallLogo);

                var taglineAttr = {
                    top: taglineLocation['top'],
                    left: taglineLocation['left'],
                    angle: 180,
                    fontFamily: 'helvetica',
                    fontSize: 11,
                    textAlign: 'center',
                    selectable: false
                };
                var websiteLeftAttr = {
                    top: webLeftLoc['top'],
                    left: webLeftLoc['left'],
                    angle: -90,
                    fontFamily: 'helvetica',
                    fontSize: 11,
                    textAlign: 'center',
                    selectable: false
                };
                var websiteRightAttr = {
                    top: webRightLoc['top'],
                    left: webRightLoc['left'],
                    angle: 90,
                    fontFamily: 'helvetica',
                    fontSize: 11,
                    textAlign: 'center',
                    selectable: false
                };
                var sigAttr = {
                    top: sigLoc['top'],
                    left: sigLoc['left'],
                    fill: 'FF4200',
                    fontFamily: 'helvetica',
                    fontSize: 10,
                    textAlign: 'center',
                    selectable: false
                };
                tagline = canvasText('   Custom packaging, made simple.', taglineAttr);
                leftWebsite = canvasText('          www.pakible.com', websiteLeftAttr);
                rightWebsite = canvasText('          www.pakible.com', websiteRightAttr);
                sig = canvasText('Made using Pakible.com', sigAttr);
{#                canvasText('   Custom packaging, made simple.', taglineAttr);#}
{#                canvasText('          www.pakible.com', websiteLeftAttr);#}
{#                canvasText('          www.pakible.com', websiteRightAttr);#}
{#                canvasText('Made using Pakible.com', sigAttr);#}
                // important to call if setting Canvas with renderOnAddRemove: false
                canvas.renderAll();
            }

            function addLogos() {
                alert('moo');
            }

            function canvasText(txt, attr) {
                var cText = new fabric.Text(txt, attr);
                canvas.add(cText);
                return cText;
            }

            function processURL(input) {
{#                alert(input.files[0]);#}
                if (input.files && input.files[0]) {
                    alert('as');
{#                    canvas.remove(largeLogo);#}
                    alert('a');
                    var url = window.URL.createObjectURL(input.files[0]);

                    largeLogo.setAttribute("src", url);
                    alert('b');
{#                    largeLogo = fabric.Image.fromURL(url, function (img) {#}
{#                        img.set({#}
{#                            height: largeLogoSize,#}
{#                            width: largeLogoSize,#}
{#                            angle: 180,#}
{#                            top: largeLogoLocation['top'],#}
{#                            left: largeLogoLocation['left']#}
{#                        });#}
{#                        canvas.add(img);#}
{#                    });#}
{##}
{#                    smallLogo = fabric.Image.fromURL(url, function (simg) {#}
{#                        simg.set({#}
{#                            height: smallLogoSize,#}
{#                            width: smallLogoSize,#}
{#                            angle: 180,#}
{#                            top: smallLogoLocation['top'],#}
{#                            left: smallLogoLocation['left']#}
{#                        });#}
{#                        canvas.add(simg);#}
{#                    });#}
                }
            }

        });


    </script>
</body>
</html>